
html{

  width: 100vw;


}

body{
  min-height: 100vh;


  width: 100vw;
  display: flex;
  padding: 0;
  margin: 0;

  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(315deg, #9dc5c3 0%, #5e5c5c 74%);





}

.container{


    width: 66vw;
    height: 40vw;
    overflow: hidden;
    margin-bottom: 5%;

}

.container .drone{
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;

    margin: 0;
}
a{
  margin-top: 1%;


  font-size: 4vw;
  color: white;
  text-decoration: none;
  margin-bottom: 15%;

}

@media only screen and (min-width: 450px) {
  iframe{
    height: 100%;
  }
}




a:hover{
  text-decoration: underline;
}
